<footer class="footer pb-5">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-lg-between">
        <div class="col-lg-12 mb-lg-0 mb-4">
          <div class="px-2 py-1 text-default rounded copyright text-center text-sm text-muted text-lg-start">
            <span class="h6">&#169;</span> <script>
              document.write(new Date().getFullYear())
            </script> &#x268A;
            <span class="font-weight-bold">Tim-G D-58.</span>
            A better Skin Cancer detect application with visual web.
          </div>
        </div>
      </div>
    </div>
</footer>