{% extends 'layouts/master.html' %}
{% block title %}Sign-up - Skin Cancer Prediction Web-app{% endblock title %}
{% load static %}
{% block content %}

<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="{% url 'home' %}">
            Skin Cancer Prediction Web-app
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'sign-up' %}">
                  <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                  Sign Up
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link me-2" href="{% url 'sign-in' %}">
                  <i class="fas fa-key opacity-6 text-dark me-1"></i>
                  Sign In
                </a>
              </li>
            </ul>
            <ul class="navbar-nav d-lg-block d-none">
              <li class="nav-item">
                <a href="{% url 'home' %}" class="btn btn-sm mb-0 me-1 btn-primary">View home</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>
<main class="main-content">
  <section class="">
    <div class="page-header min-vh-100">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto mt-5">
            <div class="card card-plain mt-5">
              <div class="card-header pb-0 text-start">
                <h4 class="font-weight-bolder">Register</h4>
                <p class="mb-0">Enter your username and password to sign up</p>
              </div>
              <div class="card-body">

                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    {% if message.tags != 'success' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <span class="text-white">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                      <span class="text-white">{{ message }}</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endif %}

                <form method="POST" action="{% url 'sign-up' %}">
                  {% csrf_token %}

                  <div class="mb-3">
                    <input name="fname" type="text" class="form-control form-control-lg" placeholder="First name">
                  </div>
                  <div class="mb-3">
                    <input name="lname" type="text" class="form-control form-control-lg" placeholder="Last name">
                  </div>
                  <div class="mb-3">
                    <input name="username" type="text" class="form-control form-control-lg" placeholder="Username">
                  </div>
                  <div class="mb-3">
                    <input name="email" type="email" class="form-control form-control-lg" placeholder="Email">
                  </div>
                  <div class="mb-3">
                    <input name="password1" type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <input name="password2" type="password" class="form-control form-control-lg" placeholder="Password">
                  </div>
                  <div class="mb-3">
                    <select name="gender" class="form-select" aria-label="Default select example">
                      <option selected value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">Sign up</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-4 text-sm mx-auto">
                  Already have an account?
                  <a href="{% url 'sign-in' %}" class="text-primary text-gradient font-weight-bold">Sign in</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg');
        background-size: cover;">
              <span class="mask bg-gradient-primary opacity-6"></span>
              <h4 class="mt-5 text-white font-weight-bolder position-relative">"Skin Cancer"</h4>
              <p class="text-white position-relative">
                Cancer begins when healthy cells change and grow out of control, forming a mass called a tumor. A tumor can be cancerous or benign. A cancerous tumor is malignant, meaning it can grow and spread to other parts of the body. A benign tumor means the tumor can grow but will not spread.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock  %}
